@page "/about"

<div class="jumbotron">
    <h3>About Me</h3>
    <p>Learn more about me. If you would like to know anything not listed on this site, feel free to <a href="/contact">contact me</a></p>!
</div>

<div class="row">

</div>

@code {

}
