@page "/about"

<div class="jumbotron">
    <h3>About Me</h3>
    <p>Learn more about me. If you would like to know anything not listed on this site, feel free to <a href="/contact">contact me</a>!</p>
</div>

<div class="row">
    <div class="col-12">
        <h4>Hobbies</h4>
        <p>
            In my spare time, I primarily work with technology in some form, whether that be gaming, writing software, working on my servers, or
            simply just researching new things in the technology world. I also enjoy working on my cars and my house.
        </p>
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="border w-75"></div>
</div>
<br />
<div class="row">
    <div class="col-4 float-left">
        <img src="images/development_setup.jpg" alt="Development Setup" style="max-width: 100%; min-width: 75%; width: auto" />
    </div>
    <div class="col-8 float-right">
        <h4>Coding</h4>
        <p>
            Whether for work or play, coding is a passion for me. i enjoy researching new techniques, languages, and technologies as much as I do
            writing the actual code. The .NET technology stack is my favorite, with most of my focus being set on C# development. I also enjoy
            dabbling in Java and F#.
        </p>
        <p>
            I stay on the bleeding edge with the newest technologies, with C# being my focus. From generics to asynchronous programming to learning
            the newest code features, I like to continually learn new things and remain active in the coding world.
        </p>
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="border w-75"></div>
</div>
<br />
<div class="row">
    <div class="col-lg-7 float-left">
        <div class="row">
            <div class="col-6">
                <img src="images/servers.jpg" alt="Servers" style="max-width: 100%; min-width: 75%; width: auto" />
            </div>
            <div class="col-6">
                <h4>Network and Systems Administration</h4>
                <p>
                    My passion for technology has expanded to network and system administration over the years, becoming a major (and expensive!) hobby.
                    The culmination of this self-taught hobby is a fully functional server cabinet, with 5 physical servers and a highly virtualized environment.
                    The following servers make up the server network:
                    <ul>
                        <li>
                            Firewall and Routing
                            <ul>
                                <li>pfSense</li>
                                <li>Untangle</li>
                            </ul>
                        </li>
                        <li>
                            Remote Management Terminal
                        </li>
                        <li>
                            Domain Server
                            <ul>
                                <li>Active Directory domain services</li>
                                <li>DNS and DHCP</li>
                                <li>RADIUS and NPS</li>
                                <li>Certificate authority</li>
                            </ul>
                        </li>
                        <li>
                            Redundant/Failover Server
                            <ul>
                                <li>Active Directory domain services</li>
                                <li>DNS and DHCP failover</li>
                                <li>Certificate services failover</li>
                            </ul>
                        </li>
                        <li>
                            Virtualization Server
                            <ul>
                                <li>Houses several machines, from a development box to Linux playgrounds to machines for guests to use</li>
                            </ul>
                        </li>
                        <li>
                            Web/Remote Server
                            <ul>
                                <li>Web server</li>
                                <li>Web services</li>
                            </ul>
                        </li>
                        <li>
                            File Server
                            <ul>
                                <li>Network file stores via SMB and NFS</li>
                                <li>iSCSI</li>
                                <li>AD-managed access</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="border w-75"></div>
        </div>
        <br />
        <div class="col-12">
            <div class="row">
                <h4>Home Improvement</h4>
                <p>I also enjoy perfecting my house and completing home improvement projects. I'm proud of my house and love working to make it better.</p>
                <img src="images/living_room.jpg" alt="Living Room" style="max-width: 100%; min-width: 75%; width: auto" />
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="col-lg-5 float-right">
        <div class="row">
            <div class="col-12">
                <h4>Computers and Technology</h4>
                <p>
                    I build all of my own computers and offer building/consulting services to others to help find their perfect computer soul mate.
                    I use all major operating systems, but I prefer Windows 10 and Manjaro Linux. I spend quite a bit of time reading up on the newest
                    technologies to be released and learning about cool new uses for technology. One of my favorite hobbies is helping others find that
                    perfect computer for their needs, especially if I can build it for them, and my up-to-date knowledge of computer hardware comes in
                    very handy to provide that assistance.
                </p>
                <p>
                    I've been building computers for myself and others for about @(DateTime.Now.Year - 2009) years.
                </p>
                <img src="images/main_pc.jpg" alt="Gaming PC" style="max-width: 100%; min-width: 75%; width: auto" />
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="border w-75"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <h4>Vehicles</h4>
                <p>
                    My first car was a 1992 Dodge Stealth R/T that I purchased when I was 14, which I still own. I enjoy working on that car--as well as my daily driver--in extra free time.
                    I am currently beginning a rebuild of the Stealth to both bring it back to showroom quality and to give it some performance enhancements. For both of my
                    vehicles, I complete all of my own mechanical car work.
                </p>
                <img src="images/cars.jpg" alt="Cars" style="max-width: 100%; min-width: 75%; width: auto" />
            </div>
        </div>
        <br />
        <br />
    </div>
</div>

@code {

}
