@page "/contact"

<div class="jumbotron">
    <h2>Contact Me</h2>
    <br />
    <p>I'd love to hear from you. Feel free to send me a message about anything!</p>
    <p>I can also be contacted via contact@lukefrahm.com</p>
</div>

<div class="row justify-content-center">
    <EditForm Model="@EmailData" class="col-6 justify-content-center" OnValidSubmit="@SendEmail">
        <DataAnnotationsValidator />
        <div class="form-group">
            <InputText type="text" class="form-control" aria-describedby="name_disclaimer" placeholder="Name*" id="Name" @bind-Value="EmailData.Name" />
            <small id="name_disclaimer2" class="form-text text-muted">I'll never share your name with anyone unless I have permission.</small>
        </div>
        <div class="form-group">
            <InputText type="email" class="form-control" aria-describedby="email_disclaimer" placeholder="Email Address*" @bind-Value="EmailData.EmailAddress" />
            <small id="email_disclaimer2" class="form-text text-muted">I'll never share your email with anyone unless I have permission.</small>
        </div>

        <div class="form-group">
            <InputText type="text" class="form-control" placeholder="Subject*" @bind-Value="EmailData.Subject" />
        </div>
        <div class="form-group">
            <InputTextArea class="form-control" rows="5" placeholder="Message*" @bind-Value="EmailData.Body"></InputTextArea>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary col-4">Submit</button>
        </div>
        <div class="row">
            @if (_isEmailSuccessful == true)
            {
                <div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                    &nbsp;Email sent successfully! I will reply shortly.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="() => _isEmailSuccessful = null">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            else if (_isEmailSuccessful == false)
            {
                <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
                    &nbsp;Hmm, looks like the email couldn't send. You can contact me at contact@lukefrahm.com
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="() => _isEmailSuccessful = null">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </EditForm>
</div>

@code {
    public Email EmailData { get; set; } = new Email();
    private bool? _isEmailSuccessful;

    protected override void OnInitialized()
    {
        _isEmailSuccessful = null;
        base.OnInitialized();
    }

    private async Task SendEmail()
    {
        _isEmailSuccessful = await ApiService.SendEmailToSelf(EmailData);
    }
}
