@page "/gaming"

<div class="jumbotron">
    <h3>Gaming</h3>
    <p>
        For both style points as well as fun, I enjoy using a powerful custom water cooled PC for gaming and productivity work. 
        See below for my gamer handle if you'd like to connect!
    </p>
</div>

<div class="row">
    <div class="col-lg-4 float-left">
        <img src="images/main_pc.jpg" alt="Gaming PC" style="max-width: 100%; min-width: 75%; width: auto" />
    </div>
    <div class="col-lg-8 float-right">
        <div class="row">
            <h4>Connect with me!</h4>
            <p>
                While not as avid of a gamer as I once was, I still greatly enjoy playing games in my spare time.
                I mostly play strategy games, but am always up for going online with friends!
            </p>
            <p>I'm on most of the major gaming platforms as <strong>CookieFrahmster</strong>.</p>
        </div>
        <br/>
        <br/>
        <div class="row">
            <h4>Primary Gaming PC Specs</h4>
            <div class="col-12">
                <ul>
                    <li>Intel i7 7700k, overclocked to 5.1 GHz @@ 1.375V</li>
                    <li>GSkill 32GB memory, clocked at 3200 MHz CL 15</li>
                    <li>Dual MSI GTX 1080Ti at +200 Mhz core, +600 MHz memory</li>
                    <li>Gigabyte Z270X Gaming 7 motherboard</li>
                    <li>Samsung 970 Evo Plus 1TB NVMe SSD</li>
                    <li>Samsung 850 Evo 1TB SATA SSD</li>
                    <li>Corsair AX1500i 1500W PSU</li>
                    <li>Triple 360mm radiators</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}