@page "/"
@inject NavigationManager NavigationManager

<div class="jumbotron">
    <h1>Hello, I'm Luke Frahm.</h1>
    <h2>Welcome to my website!</h2>
</div>
<br />
<div class="">
    <div class="row col-12">Terminal</div>

    @foreach (string command in CommandScreenView)
    {
        <div class="row col-12">@((MarkupString)command)</div>
    }
    <input class="col-12" @bind="this.CurrentCommand" @onkeyup="NewCommand_OnKeyUp" />
</div>

@code {
    List<string> CommandScreenView { get; set; } = new List<string>();
    List<string> CommandHistory { get; set; } = new List<string>();
    string CurrentCommand { get; set; }

    int _commandHistoryIndex = 0;

    void NewCommand_OnKeyUp(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "Enter":
                if (string.IsNullOrWhiteSpace(CurrentCommand))
                {
                    CurrentCommand = "";
                    return;
                }
                CurrentCommand = Regex.Replace(CurrentCommand, "(<.*?>)|(&.*?;)", string.Empty);
                CommandScreenView.Add(CurrentCommand);
                CommandHistory.Add(CurrentCommand);
                string[] command = CurrentCommand.ToLower().Split(' ');

                switch (command[0])
                {
                    case "help":
                    case "man":
                        CommandScreenView.Add(Terminal.ConsoleHelpMenu);
                        break;
                    case "cls":
                    case "clear":
                        CommandScreenView = new List<string>();
                        break;
                    case "nav":
                        if (command.Length > 1)
                        {
                            NavigationManager.NavigateTo($"/{command[1]}");
                        }
                        else
                        {
                            goto default;
                        }
                        break;
                    case "echo":
                        string echo = "";
                        for(int i = 1; i < command.Length; i++)
                        {
                            echo += command[i] + " ";
                        }
                        CommandScreenView.Add(echo);
                        break;
                    default:
                        CommandScreenView.Add("Command could not be parsed.");
                        break;
                }
                CurrentCommand = "";

                _commandHistoryIndex = 0;
                break;
            case "ArrowUp":
                {
                    _commandHistoryIndex++;
                    if (_commandHistoryIndex >= CommandHistory.Count)
                    {
                        _commandHistoryIndex = CommandHistory.Count;
                    }

                    CurrentCommand = CommandHistory[^_commandHistoryIndex];
                    break;
                }
            case "ArrowDown":
                {
                    _commandHistoryIndex--;
                    if (_commandHistoryIndex <= 0)
                    {
                        _commandHistoryIndex = 0;
                        CurrentCommand = "";
                    }
                    else
                    {
                        CurrentCommand = CommandHistory[^_commandHistoryIndex];
                    }
                    break;
                }
        }
    }
}