@page "/services"

<div class="jumbotron">
    <h3>Services</h3>
    <p>Interested in hiring me? See the services that I offer.</p>
</div>

<h4>Anywhere Services</h4>
<p>Below are services I offer locally or remotely.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Typical Rate</th>
            <th scope="col">Minimum Fee</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Software Development</th>
            <td>$75/hr</td>
            <td>$500</td>
            <td>Unless otherwise requested, I do development in .NET technologies.</td>
        </tr>
        <tr>
            <th scope="row">Computer Purchase Recommendations</th>
            <td>10% of final system price</td>
            <td>$40</td>
            <td>Built to meet your needs at the lowest possible price.</td>
        </tr>
    </tbody>
</table>
<br />
<br />

<h4>Local Services</h4>
<p>In addition to my Anywhere Services, below are the services I offer in the Cedar Rapids, IA area.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Typical Rate</th>
            <th scope="col">Minimum Fee</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Custom PC Building - Air/AIO Cooled</th>
            <td>10% of final system price</td>
            <td>$50</td>
            <td>Including parts consultation, rate is 15%</td>
        </tr>
        <tr>
            <th scope="row">Custom PC Building - Custom Water Cooled</th>
            <td>15% of final system price</td>
            <td>$75</td>
            <td>Including parts consultation, rate is 20%</td>
        </tr>
        <tr>
            <th scope="row">Network Troubleshooting</th>
            <td>$35/hr</td>
            <td>$35</td>
            <td>Troubleshooting issues in existing networks.</td>
        </tr>
        <tr>
            <th scope="row">Consumer Network Engineering</th>
            <td>$50/hr</td>
            <td>$50</td>
            <td>Assistance in picking the best networking gear for your use case, installing, amd securing.</td>
        </tr>
        <tr>
            <th scope="row">Physical Computer Cleaning</th>
            <td>$20/hr</td>
            <td>$40</td>
            <td>Includes desktops and laptops.</td>
        </tr>
        <tr>
            <th scope="row">Computer Troubleshooting/Tune-Ups</th>
            <td>$35/hr</td>
            <td>$35</td>
            <td>Troubleshooting issues and/or performing tune-ups.</td>
        </tr>
        <tr>
            <th scope="row">General Tech Support</th>
            <td>$35/hr</td>
            <td>$35</td>
            <td>I will attempt to offer assistance on other technologies other than computers and networks.</td>
        </tr>
    </tbody>
</table>

<p>All work comes with a minimum of a 2 year warranty on labor. Satisfaction of results guaranteed.  </p>


@code {

}
